# Quarto build output
_site
/.quarto/
/_generated/
**/*.quarto_ipynb

# Local dependencies
node_modules
package-lock.json

# IDE configurations
.idea
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
!.vscode/tasks.json

# Misc
**/.DS_Store
