/* Adapted from https://github.com/dkapitan/dkapitan.github.io (Mozilla Public License 2.0) */

.text-muted {
  --bs-text-opacity: 1;
  color: #e7e5e2 !important;
}

.text-muted-darker {
  --bs-text-opacity: 1;
  color: #959595 !important;
}

.text-hero {
  --bs-text-opacity: 1;
  color: #959595 !important;
}
